@font-face {
    font-family: Fredoka-Bold;
    src: url(../fonts/Fredoka-Bold.ttf);
}

@font-face {
    font-family: Fredoka-Regular;
    src: url(../fonts/Fredoka-Regular.ttf);
}

@font-face {
    font-family: Fredoka-Light;
    src: url(../fonts/Fredoka-Light.ttf);
}

@font-face {
    font-family: Saiyan-Sans;
    src: url(../fonts/Saiyan-Sans.ttf);
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(rgb(2, 2, 67), black);
}

.portfolio-container {
    height: auto;
    width: auto;
    justify-items: center;
    display: grid;
}

.portfolio-row {
    position: relative;
    display: flex;
    gap: 15px;
    flex-direction: row;
}

.portfolio-column {
    flex: 1;
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.portfolio-item {
    background-color: #ffffff11;
    position: relative;
    backdrop-filter: blur(10px);
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 16px;
}

.p-img-container img {
    width: 100%;
    object-fit: cover;
}

.p-text-container {
    color: white;
    font-family: Fredoka-Light;
}

iframe {
    width: 100%;
    height: 400px;
}

@media (max-width: 1100px) {
    .portfolio-item {
        width: 180px;
        height: 280px;
    }

    iframe {
        height: 200px;
    }
}

/* The Modal (background) */
#image-viewer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-items: center;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

#full-text {
    width: 250px;
    height: 100%;
    color: white;
    padding-top: 4rem;
    font-family: Fredoka-Light;
}

.modal-content {
    background-size: contain;
    width: 100%;
    height: 100%;
    display: flex;
    max-width: 100vw;
    max-height: 100vh;
    padding: 4rem;
}

.viewer-content-container {
    display: flex;
    flex-direction: row;
    animation: zoom 0.7s ease-out;
    gap: 15px;
    width: auto;
    height: auto;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

#image-viewer .close {
    position: absolute;
    top: 85px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

#image-viewer .close:hover,
#image-viewer .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}
