@font-face {
    font-family: Fredoka-Bold;
    src: url(../fonts/Fredoka-Bold.ttf);
}

@font-face {
    font-family: Fredoka-Regular;
    src: url(../fonts/Fredoka-Regular.ttf);
}

@font-face {
    font-family: Fredoka-Light;
    src: url(../fonts/Fredoka-Light.ttf);
}

@font-face {
    font-family: Saiyan-Sans;
    src: url(../fonts/Saiyan-Sans.ttf);
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(rgb(2, 2, 67), black);  
}

#visual {
    position: fixed;
    opacity: .3;
    width: 100vw;
}

.portfolio-container {
    height: auto;
    width: auto;
    justify-items: center;
    display: grid;
}

.portfolio-row {
    position: relative;
    display: flex;
    gap: 15px;
    flex-direction: row;
}

.portfolio-column {
    flex: 1;
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.portfolio-item {
    background-color: #ffffff11;
    position: relative;
    backdrop-filter: blur(10px);
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 16px;
}

.p-img-container img {
    width: 100%;
    object-fit: cover;
}

.p-text-container {
    color: white;
    font-family: Fredoka-Light;
}

iframe {
    width: 100%;
    height: 400px;
}

@media (max-width: 1100px) {
    .portfolio-item {
        width: 180px;
        height: 280px;
    }

    iframe {
        height: 200px;
    }
}